@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: Helvetica Neue, Roboto, Arial, Sans-Serif !important;
  font-weight: 550;
  line-height: 1.35;
  color: white;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
