cred.txt
/__pycache__/
PYREZ_LOG_FILE.log
.vscode/
token.txt
venv
PYREZ_LOG_FILE.log
__pycache__
.vscode/
token.txt
__pycache__/analyze.cpython-37.pyc
__pycache__/data_pull_insert.cpython-37.pyc
__pycache__/flaskControl.cpython-37.pyc
__pycache__/main.cpython-37.pyc
venv
charts
book build.xlsx
combat_stats.txt
items.csv
test.csv
items.txt
fixMatches.txt
main.py
getGodSkinsReturn
idek.txt
projectAthena
__init__
__init__.py
.env
dev_config
