body {
  background-color: #070720 !important;
}
.god-icon-style {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: center;
}

.matchups {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 12px;
}

/* .god-name, .win .times-played {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #cddcfe;
} */

hr {
  width: 75%;
}

.god-build {
    display:flex;
    flex-direction:column;
    margin-top:0;
    max-width:1014px;
    width:1014px;
    min-width: auto;
    width: 100%;
}
.god-build .toughest-matchups {
  margin-top: 24px;
  grid-row: 2/3;
  grid-column: 4/6;
}
@media (max-width: 1139px) {
  .god-build .toughest-matchups {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 899px) {
  .god-build .toughest-matchups {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.god-build .toughest-matchups .matchups {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 12px;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.god-build .toughest-matchups .matchups .god-matchup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 73px;
  padding: 7px 0 10px;
  border-radius: 3px;
  background-color: #11112a;
  color: #fff;
  text-align: center;
}

.god-label {
color: #cddcfe;
}
.god-build
  .toughest-matchups
  .matchups
  .god-matchup:hover {
  background-color: #25254b;
}
.god-build .toughest-matchups .matchups hr {
  margin: 8px 0;
  width: 70%;
  border: none;
  border-top: 1px solid #404064;
}
.god-build .toughest-matchups .matchups .god-name {
  margin-top: 6px;
  max-width: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 700;
}
.god-build .toughest-matchups .matchups .god-icon {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.god-build .toughest-matchups .matchups .god-icon > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(1.1);
}

.god-build .toughest-matchups .matchups .god-matchup .matchup-stats .win-rate {
    font-size: 1.2rem;
}
.god-build .toughest-matchups .matchups .god-matchup .matchup-stats .win-rate .times-played {
  color: #cddcfe;
  font-size: 1rem;
}

.navigation {
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  /* padding-bottom: 80px; */
}
.navbar .container {
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
}
.container .god-page-header .god-header-info {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  height: 100%;
  justify-content: space-between;
  min-width: 0;
}

.god-header-row2 {
    display: flex;
    align-items: center;
    height: 32px;
    margin-top: 18px;
}

.god-page-header .god-header-info .god-abilities {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.god-page-header .god-header-info .god-abilities .god-ability-wlabel:not(:last-child) {
  margin-right: 6px;
}
.god-page-header .god-header-info .god-abilities img {
  width: 36px;
  height: 36px;
  border-radius: 3px;
}
.ability-label{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #383864;
    font-size: 9px;
    font-weight: 700;
    pointer-events: none;
}

.god-ability-wlabel {
  position:relative
}
.god-ability-wlabel .ability-label {
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    width:12px;
    height:12px;
    border-radius:50%;
    background-color:#383864;
    font-size:9px;
    font-weight:700;
    pointer-events:none
}

.god-ability-wlabel .ability-label.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  border: 2px solid #17172e;
  box-sizing: content-box;
  color:white;
}

.content-matchups {
  margin-top: 25px;
}

.content-section {
  padding: 24px;
  border-radius: 6px;
  background-color: #191937;
}

.content-section .content-section_header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding-left: 14px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: white;
}
.content-section .content-section_header::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 20px;
  border-radius: 2px;
  background-color: #3273fa;
}

.Godpage {
  padding-top: 80px;
  width: 100%;
}

.god-page-header {
  margin-bottom: 24px;
}

.god-header-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.god-image-container {
  position: relative;
  flex: 0 0 93px;
  width: 93px;
  height: 93px;
  border-radius: 6px;
  border: 2px solid #414165;
  border-top-color: rgb(65, 65, 101);
  border-right-color: rgb(65, 65, 101);
  border-bottom-color: rgb(65, 65, 101);
  border-left-color: rgb(65, 65, 101);
  background-color: #17172e;
}

.tier-heading {
  position: absolute;
  z-index: 2;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #414165;
  border-top-color: rgb(65, 65, 101);
  border-right-color: rgb(65, 65, 101);
  border-bottom-color: rgb(65, 65, 101);
  border-left-color: rgb(65, 65, 101);
  background-color: #06061f;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

.god-page-image-border {
  position: relative;
  border: 2px solid #17172e;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.notch-border {
  position: absolute;
  top: -6px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 40px;
  height: 10px;
  border-radius: 0 0 6px 6px;
  border: 2px solid #070720;
  background-color: #06061f;
}

.god-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transform: translate(-50%, -50%) scale(1.2);
}

.god-rank-stats {
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  padding:24px 0
 }

.god-rank-stats > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
  flex: 1 1;
  height: 100%;
  white-space: nowrap;
}

.god-rank-stats > div:not(:last-child) {
  border-right: 1px solid #414165;
}

@media(max-width:599px) {
  .god-ranking-stats {
   padding:18px;
  }
  .god-ranking-stats>div {
   border-right:none!important
  }
  .god-ranking-stats .value {
   font-size:1.4rem
  }
  .god-ranking-stats:not(.matchup-view) .matches {
   margin-top:12px;
   padding:12px 0 0;
   flex:0 0 100%;
   border-top:1px solid #414165
  }
 }
.god-rank-stats .value {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.god-rank-stats .label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #bbbedb;
}

.build {
  display: grid;
  grid-template-columns: repeat(6,169px);
  grid-auto-flow: column;
  margin-top: 24px;
}

.build .starter{
  display: flex;
  flex-direction: column;
}

.item-image-div img {
  border-radius: 3px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.item-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-row .item-dupe {
  margin-right: 20px;
}

.item-stats .winrate{
  margin-top: 16px;
  text-align: left;
  color: white;
  font-size: 13px;
}

.item-stats .matches{
  margin-top: 16px;
  text-align: left;
  color: #cddcfe;
  font-size: 13px;
}

.times-played {
  font-size: 13px;
  color: #cddcfe
}

.god-home .gods-container {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  grid-gap: 12px 12px;
  padding: 20px;
  border: 5px solid #2c2c40;
  background-color: #17172e;
}

.gods-container>a{
  color:white;
}

.god-home .image-wrap {
  position: relative;
  border: 1px solid #2c2c40;
  overflow: hidden;
}
.god-home .gods-container .god-link .image-wrap {
  width: 100px;
  height: 100px;
}

/* .god-home .image-wrap:hover{
  content: "";
  position: relative;
  top: -110%;
  left: -150%;
  width: 220%;
  height: 220%;
  opacity: 0;
  transform: rotate(45deg);
  background: rgba(66, 14, 255, 0.74);
  background: linear-gradient(90deg,hsla(0,0%,100%,.13) 0,hsla(0,0%,100%,.13) 77%,hsla(0,0%,100%,.5) 92%,hsla(0,0%,100%,0))

} */

.god-link {
  margin: 0 auto;
}

.title-header {
  margin-top: 24px;
  margin-bottom: 36px;
}

.title-header h1, .title-header h1.tier-list {
  font-family: Barlow;
  display: flex;
  align-items: center;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.god-home {
  padding-top: 100px;
  max-width: 1014px;
  width: 200vh;
  box-sizing: content-box;
}

.god-home-page {
  display: flex;
  margin: auto;
  color: white;
}

.god-home-page > li {
  padding-left: 30px;
}

.title-header h2.subtitle {
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0;
  white-space: nowrap;
  color: white; 
}

.content {
  display: flex;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

a, a:active, a:focus, a:hover, a:visited {
  text-decoration: none;
  outline: none;
  color: white;
}

.god-home .gods-container .god-link .god-name {
  margin-top: 8px;
  font-size: .8rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: left;
}

/* .god-home .gods-container .god-link:hover .image-wrap:after {
  opacity:1;
  top:-35%;
  left:-35%;
  transition-property: left, top, opacity;
  transition-duration:.7s,.7s,.15s;
  transition-timing-function:ease
 } */

 .god-home .gods-container .god-link:hover .god-name {
  font-weight: 700;
}


.top-nav {
  height: 60px;
}


.top-nav .top-nav-content{
  width: 100%;
  height: 60px;
  color: white;
  background-color: black;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

.god-home {
  max-width: 1014px;
  width: 100vw;
  box-sizing: content-box;
}

.content-side-padding {
  padding-left: 24px;
  padding-right: 24px;
}

* {
  box-sizing: border-box;
}
 
.home {
  height: 100vh;
  width: 100vw;
}
.home-image {
  z-index: 5;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/MBYqznN.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}  

.stats-tables-page {
  display: flex;
  margin: 0 auto;
}

/* .stats-tables-page {
  width: 100%;
} */

.stats-tables-container .stats-tables__content-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}


 .stats-tables-container, .stats-tables__content-container, .tier-list-page-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ReactTable.ugg-table-2.content-section {
  padding-top: 14px;
}

.ReactTable.ugg-table-2 {
  width: 1014px;
  font-size: 12px;
  font-weight: 500;
  border: none;
  color: var(--font-color-main);
}

.ReactTable {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.1);
}

.ReactTable.tier-list .rt-thead.-header {
  padding-top: 15px;
  position: sticky;
  top: 60px;
  z-index: 90;
  transition: top .2s ease-in;
}

.ReactTable.ugg-table-2 .rt-thead.-header {
  box-shadow: none;
  overflow: hidden !important;
}
.ReactTable.ugg-table-2 .rt-thead {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #191937;
  font-size: 12px;
  color: var(--ugg-table-header-row-font-color);
}

.ReactTable .rt-thead {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ReactTable * {
  box-sizing: border-box;
  color: white;
}

.stats-tables-container {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  width: 1014px;
  box-sizing: content-box;
}

#main-content {
  color: var(--font-color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

#content-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#content {
  display: flex;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
}


/* #content {
  min-width: auto;
  width: 100%;
} */

.ReactTable.ugg-table-2 .rt-thead .rt-tr {
  flex: 1 1;
  display: flex;
  width: 100%;
  height: 41px;
  overflow: hidden;
}

.ReactTable .rt-thead .rt-tr {
  text-align: center;
}

.ReactTable.ugg-table-2 .rt-tbody .rt-tr-group:nth-child(2n+1) {
  background-color: #11112a;
}

.ReactTable.ugg-table-2 .rt-tbody .rt-tr-group {
  display: flex;
  align-items: center;
  height: 54px;
  border: none;
  border-radius: 6px;
}

.ReactTable.ugg-table-2 {
  width: 100%;
}

.ReactTable .rt-tr-group {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ReactTable.ugg-table-2 .rt-tbody .rt-tr-group .rt-tr {
  flex: 1 1;
  display: flex;
  width: 100%;
}

/* .stats-tables-container .stats-tables__content-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 120px;
} */

.ReactTable.ugg-table-2 .rt-tbody .rt-tr-group .rt-tr .rt-td {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
}


.ReactTable.ugg-table-2 .rt-thead .rt-tr .rt-th {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  color: #cddcfe;
}

.ReactTable.ugg-table-2 .rt-tbody {
  scrollbar-width: thin;
  scrollbar-color: hsla(0,0%,100%,.3) hsla(0,0%,100%,0);
  overflow-x: hidden;
  overflow-y: hidden;
}

.ReactTable .rt-tbody {
  flex: 99999 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.ReactTable .rt-td, .ReactTable .rt-th {
  flex: 1 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px 5px;
  overflow: hidden;
  transition: .3s ease;
      transition-property: all;
  transition-property: width ,min-width , padding, opacity;
}

#page-content {
  display: flex;
  padding-bottom: 48px;
}

#content {
  min-width: auto;
  width: 100%;
}

.stats-tables-page {
  width: 100%;
}

.stats-tables-container {
  padding-top: 24px;
  width: 100%;
}

.stats-tables-container {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  width: 1014px;
  box-sizing: content-box;
}

.stats-tables-container .stats-tables__content-container .rt-td.god {
  justify-content: flex-start !important;
}

.stats-tables-container .stats-tables__content-container .rt-td.god .god-played {
  display: flex;
  align-items: center;
  padding-left: 10px;
  overflow: hidden;
}

.stats-tables-container .stats-tables__content-container .rt-td.god .god-played .god-name {
  margin-left: 12px;
  padding: 2px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline-rank  {
  min-width: 40px !important;
  max-width: 60px !important;
  flex: 1 1 100% !important;
}

.inline-role{
  cursor: pointer !important;
  min-width: 40px !important;
  max-width: 60px !important;
  flex: 1 1 100% !important;
}

.inline-god {
    cursor: pointer !important;
    min-width: 155px !important;
    max-width: 180px !important;
    flex: 1 1 100% !important;
}

.inline-tier {
  cursor: pointer !important;
  min-width: 50px !important;
  max-width: 90px !important;
  flex: 1 1 100% !important;
}

.inline-winRate {
  cursor: pointer !important;
  min-width: 70px !important;
  max-width: 90px !important;
  flex: 1 1 100% !important;
}

.inline-pickRate {
  cursor: pointer !important;
  min-width: 80px !important;
  max-width: 90px !important;
  flex: 1 1 100% !important;
}

.inline-banRate {
  cursor: pointer !important;
  min-width: 70px !important;
  max-width: 90px !important;
  flex: 1 1 100% !important;
}

.inline-counterMatchups {
  min-width: 250px !important;
  max-width: 270px !important;
  flex: 1 1 100% !important;
}

.inline-games {
  cursor: pointer !important;
  min-width: 80px !important;
  max-width: 90px !important;
  flex: 1 1 100% !important;
}

.ReactTable.tier-list .rt-tbody .rt-tr-group .rt-td.against .against-container {

    display: flex;
    align-items: center;
    margin: 0;

}

.filter-form {
  display: flex;
  align-items: auto;
  /* padding-left: 10px; */
  overflow: hidden;
  justify-content: flex-start;
}

.filter-item {
  flex: 1 1 100%;
}

.role-filter-container{
  max-width: 1014px;
}

.filter-manager {
  position: sticky;
  z-index: 98;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 0;
  height: 36px;
  background-color: var(--background-main);
  box-sizing: content-box;
}

.filter-manager .filter-width-wrapper {
  display: flex;
  align-items: center;
  margin-right: auto !important;
  -webkit-overflow-scrolling: touch;
}

.filter-manager .filter-manager_container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 1;
}

.god-profile-container .filter-manager {
  margin: 36px 0;
}

.filter-manager .filter-manager_label { 
  display: flex;
  align-items: center;
  margin-right: 24px;
  font-size: 14px;
  font-weight: 700;
}


.filter-manager .filter-manager_container > :not(:last-child):not(.filter-manager_label) {
  margin-right: 12px;
}

.role-filter-container {
  display: grid;
  height: 36px;
  background-color: #2c2c40;
  box-shadow: 0 2px 3px -2px rgba(14,37,84,.22);
}

.role-filter-container .role-filter {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 36px;
  background-color: var(--filter-color);
}

.role-filter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  z-index: 200;
}
.role-filter:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 5;
}

figure.snip0015 {
  font-family: Georgia, serif !important;
  color: #fff;
  width: 100px;
  height: 100px;
  background: #000000;
  text-align: center;
  position: relative;
  border: 1px solid #2c2c40;
  overflow: hidden;
}

figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0015 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
}

figure.snip0015 figcaption::before {
  position: absolute;
  top: 5px;
  right: 30px;
  bottom: 15px;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

figure.snip0015 h2,
figure.snip0015 p {
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0015 p {
  font-weight: 200	;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0015 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0015:hover img {
  opacity: 0.35;
}

figure.snip0015:hover figcaption p {
  padding-top: .5rem;
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 1rem;
  bottom: 1rem;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.stat-explanation {
  padding-right: 12px;
  color: #cddcfe;
  font-size: 12px;
  font-weight: 500;
}

/* TABS */
.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

/* ITEMS */

.items-table-container {
  position: absolute;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 6px;
  margin-top: 24px;
  width: 1200px;
  justify-content: space-between;
  left: 22%;
}

/* .grid-block.items-1 {
  grid-row: 2/3;
  grid-column: 1/6;
}

.grid-block.items-2 {
  grid-row: 2/3;
  grid-column: 2/6;
}

.grid-block.items-3 {
  grid-row: 2/3;
  grid-column: 3/6;
}

.grid-block.items-4 {
  grid-row: 2/3;
  grid-column: 4/6;
}

.grid-block.items-5 {
  grid-row: 2/3;
  grid-column: 5/6;
}

.grid-block.items-6 {
  grid-row: 2/3;
  grid-column: 6/6;
} */

.items-table-container .grid-block {
  display: inline-block;
}

.grid-block {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.grid-block-content {
  flex: 1 1;
  background-color: #11112a ;
  overflow: hidden;
}

.items-table-container .item-row {
  display: grid;
  grid-template-columns: 4fr 3.5fr 3.5fr;
  padding: 10px 8px;
  border-bottom: 1px solid var(--border-color-grey);
  font-size: .8rem;
}

.bans-container {
  display: flex;
}

.KDA {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.match-container {
  display: flex;
  color: white;
  background-color: #11112a;
  max-width: 100%;
}

.match-summary-container-players {
  display: flex;
  flex-direction: column;
}

.player-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.player-god-played {
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
}

.build-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: none;
}

.match-summary-container-players{
  max-width: 1014px;
}

.player-stats-breakdown {
  display: flex;
  flex-direction: column;
}

.Winner {
  background: linear-gradient(135deg,rgba(50,115,250,.2),rgba(50,115,250,0)),#191937;
}

.Loser {
  background: linear-gradient(135deg,rgba(255,78,80,.16),rgba(255,78,80,0)),#191937;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  border-top: 1px solid #414165;
  border-bottom: 1px solid #414165;
  margin-left: 24px;
  margin-right: 24px;
}

.items {
  min-width: 300px;
  justify-content: left;
}

.relics {
  min-width: 150px;
  justify-content: left;
}

.player-info-style {
  color: #cddcfe;
}

.player-tabs {
  display: flex;
  flex-direction: row;
}

.tabs li {
  color: white;
  background-color: #383864;
  padding: 10px;
  border-radius: 6px;
}
.tab-list {
  border: none;

}
.tabs .tab-list-active {
  background-color: #3273fa;
  border: none;
}

.tabs li:not(:last-child) {
  margin-right: 12px;
}

.build-price {
  color: gold;
}

.content-container {
  padding-top: 80px;
}

.home{
  display: flex;
  justify-content: space-around;
}

.home-image{
  display: flex;
}

.new-god {
  max-width: fit-content;
  max-height: fit-content;
  margin-left: 300px;
  margin-bottom: auto;
  background-color: #060b26;
  color: white
}

.new-god a:hover {
  background-color: #1a83ff;
}

.bottom-push {
  position: fixed;
  bottom: 0;
  margin-top: auto;
  text-align: "center";
  padding-bottom: 10;
}

.filler {
  color: white;
}

.header-items{
  padding-right: 10px;
}

.header-games{
  padding-right: 10px;
}

.header-winrate{
  padding-right: 10px;
}

@media(max-width:1359px) {
  .build .recommended-build_items {
   grid-template-columns:repeat(4,1fr);
  }
 }
 @media(max-width:899px) {
  .build .recommended-build_items {
   grid-template-columns:repeat(6,1fr)
  }
 }
 @media(max-width:599px) {
  .build .recommended-build_items {
   grid-template-columns:none;
   grid-template-rows:repeat(5,-webkit-min-content);
   grid-template-rows:repeat(5,min-content);
   grid-auto-flow:row
  }
  .build .recommended-build_items>:not(:last-child) {
   border-right:none;
   border-bottom:1px solid #414165
  }
 }