@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--card-background-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color:var(--winner-color);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

body {
  --winner-color: rgba(50, 115, 250);
  --loser-color: rgba(255, 78, 80, 0.36);
  --main-background-color: #070720;
  --card-background-color: #161633;
  --dark-red-color: #ff4e50;
  --light-red-color: #fcb1b2;
  --light-purple-color: #e2ccff;
  --medium-purple-color: #bf94e4;
  --dark-purple-color: #a966ff;
  --border-color: #414165;
  --selected-color: #383864;
  font: 1em Arial;
}

.autofill-columns {
  grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
}

.Legendary {
  filter: sepia(100%) hue-rotate(-10deg) saturate(350%);
}

.Diamond {
  filter: sepia(100%) hue-rotate(190deg) saturate(350%);
}



@responsive {

  .nav-border {
  border-right: .5px solid var(--border-color);
  }

  .nav-border-bottom {
    border-bottom: .5px solid var(--border-color);
  }

  .nav-border-top {
    border-top: .5px solid var(--border-color);
  }
}

.flex-0 {
  flex: 0 0 100%
}

@layer components {
  .card {
    margin-bottom: theme('margin.8');
    display: theme('flex.1');
    flex-direction: column;
    justify-content: center;
    min-height: theme('height.min');
    width: theme('width.full');
    border-radius: theme('borderRadius.DEFAULT');
    border: 1px solid var(--winner-color);
    padding: theme('padding.6');
    box-shadow: theme('boxShadow.xl');
    background-color: var(--card-background-color);
    color: white
  }

  .card-base {
    border-radius: theme('borderRadius.DEFAULT');
    border: 1px solid var(--winner-color);
    padding: theme('padding.6');
    box-shadow: theme('boxShadow.xl');
    background-color: var(--card-background-color);
    color: white
  }

  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding-left: 14px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
  }

  .card-header::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 20px;
    border-radius: 2px;
    background-color: #3273fa;
  }

  .god-icon-hover {
    content: "";
    position: absolute;
    top: -35%;
    left: -35%;
    width: 220%;
    height: 220%;
    transform: rotate(45);
    background: linear-gradient(90deg,hsla(0,0%,100%,.13) 0,hsla(0,0%,100%,.13) 77%,hsla(0,0%,100%,.5) 92%,hsla(0,0%,100%,0));
  }

  .ability-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #383864;
    font-size: 9px;
    font-weight: 700;
    pointer-events: none;
  }

  .ability-label.bottom-center {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 2px solid var(--card-background-color);
    box-sizing: content-box;
    color: white
  }

  .tier-heading {
    position: absolute;
    z-index: 2;
    top: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid theme('colors.borderColor');
    background-color: var(--main-background-color);
    color: #fff;
    font-size: 11px;
    font-weight: 700;
  }

  .notch-border {
    top: -6px;
    z-index: 1;
    transform: translateX(-50%);
    width: 40px;
    height: 10px;
    border-radius: 0px 0px 6px 6px;
    border: 2px solid var(--background-main);
    background-color: #06061f;

  }

  .god-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transform: translate(-50%, -50%) scale(1.2);
  }

  .background-image {
    background-repeat: no-repeat;
    background-size: 1014px 670px;
    background-position: 50% -60px;
  }

  .god-icon {
    position: relative;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
  }

  .item-icon {
    position: relative;
    min-width: 36px;
    height: 36px;
    overflow: hidden;
  }


  .god-name {
    margin-top: 6px;
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
  }
}
